body {
    background-color: aquamarine;
    /* background: url(https://images.unsplash.com/photo-1526336024174-e58f5cdd8e13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80);
    background-size: cover; */
    /* background-position: center; */
  }