---
layout: default
---
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="/assets/css/styles.css"> 
</head>
<body id=blog-body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 id="post-title">{{ page.title }}</h1>
            <p>Le {{ page.publication }} par {{ page.author }}</p>
        </div>
    </div>
    <div class="container" id = "image">
        <img src="/assets/images/reseau.jpeg" alt= "switch reseau">
    </div>
    
    <div class="container" id="post-accroche">
        <p>{{ page.accroche }}</p>
    </div>
    
    <div class="container" id = "blog-content">
        {{content}}
    </div>
</body>

